<%- include ("parts/header") %>
    <%- include ("parts/navbar") %>
        <div class="container">
            <% if (!product) { %>
                <div class="alert alert-danger text-center my-5">
                    no product found
                </div>
                <% } else { %>
                    <div class="row">
                        <div class="col col-12 col-md-6 text-center">
                            <h3>
                                <%= product.name %>
                            </h3>
                            <h4>Price: <%= product.price %>
                            </h4>
                            <p>
                                <%= product.description %>
                            </p>
                            <form action="/cart">
                                <input type="number" name="amount" value="1" class="form-control">
                                <button type="submit" class="btn btn-primary">add to cart</button>
                            </form>
                        </div>
                        <div class="col col-12 col-md-6">
                            <img src="<%= product.image %>" alt="">
                        </div>
                    </div>
                    <% } %>
        </div>
        <%- include ("parts/footer") %>